<!--
<div>
  <a (click)="setHabilitar()" class="btn-floating btn-large waves-effect waves-light red">  {{ habilitar==true? expand_less: format_list_bulleted}}<i class="material-icons">format_list_bulleted</i></a>
</div>

<div class="card">
  <ul class="collection with-header" *ngIf="habilitar == true">
      <li class="collection-header"><h4>Listado de cursos</h4></li>
      <li class="collection-item" *ngFor="let curso of listaCurso"> <div>{{ curso }}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
  </ul>
</div>-->
<div class="card">
  <app-login></app-login>
</div>
