<div class="row">
   <div >
     <div class="card  darken-1">
       <div class="card-content">
         <span class="card-title">Lista de Clientes</span>
         <table id="myTable">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of listClientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>{{cliente.password}}</td>
                    <td>{{cliente.createAt}}</td>
                  </tr>
                </tbody>
              </table>
       </div>
     </div>
   </div>
 </div>
